.carousel-caption.d-none.d-md-block {
    margin-bottom: 202px;
}
p.card-text {
    font-size: 12px;
    text-align: justify;
}
.progeres {
    margin-bottom: 26px;
}
img.card-img-top {
    height: 208px;
}